﻿@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
	margin:0;
	font-family: 'Press Start 2P', cursive;
	color: var(--color2-1);
	text-align: center;
	background: var(--color1-1);
}

body { 
background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-267289.jpg); 
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.page {
	display:block;
	width:100%;
	width:900px;
	margin: 0 auto;
}

/*--------------------------------------------------------------------*/
.post {
	width:900px;
	margin:5% auto;
border: solid 1px var(--color2-3);
background: var(--color1-2);
background: radial-gradient(circle farthest-corner at center top, #4f4b7359 0%, #3e3c48c7 80%);
-webkit-box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
-moz-box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
}

.post h1 {
	margin:3% 15% 15px;
	padding-bottom:0;
	text-align:center;
	font-weight: normal;
color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

header img {
	width: 25%;
	height: auto;
	float: left;
	padding-top: 10%;
}


/*--------------------------------------------------------------------*/

/*--------------------------------------------------------------------*/
@media screen and (max-width: 960px) {
	.page {
			width: 90%;
			margin:25px auto;
	}
	.blog {
			width:90%;
	}
	.post {
			float:inherit;
			width:101%;
			padding:5%;  
			margin:0 auto 25px;
		}
	}
/*--------------------------------------------------------------------*/
@media screen and (max-width: 460px) {
	.post {
			margin:25px auto;
	}
	}
/*--------------------------------------------------------------------*/

p1 {
}


.text {
padding:5%;
padding-bottom:1%;
padding-top:1%;
}


.container {
	box-sizing: border-box;
}

.lightbox-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.lightbox-gallery div > img {
	max-width: 100%;
	display: block;
}

.lightbox-gallery div {
	margin: 5px;
	flex-basis: 31%;
	border: solid 1px var(--color2-3);
}

hr {
	border: none;
	color: var(--color2-3);
	background-color: var(--color2-3);
	height: 1px;
}

footer p{
text-align: center;
font-size: 80%;
color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

a{
text-align: center;
font-size: 100%;
color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
text-decoration: none
}

a:hover{
text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.1);
}

