
@import 'https://fonts.googleapis.com/css?family=Cinzel:400,700';

body {
	background-color: #0D6586;
	font-size: 20px;
		color: var(--color2-1);
	text-align: center;
	background: var(--color1-1);
		font-family: 'Raleway', sans-serif;
}

body { 
background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-630296.jpg); 
background-color: #c7b39b;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

a, a:visited {
	color: #052530;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #fff;
}


.container {
	padding: 5px;
	width: 50%;
	margin: 1em auto;
	margin-top: 3%;
border: solid 1px var(--color2-3);
background: #73879869;
-webkit-box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
-moz-box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
}

#shift {
	width: 100%;
}

#textInput,
#textOutput {
	width: 95%;
	max-width: 95%;
	min-height: 95%;
	background-color: var(--color-sh-2);
	text-align: left;
	color: var(--color2-1);
	font-size: 80%;
	line-height: 130%;
	min-height: 50px;
	border: 1px solid #052530;
	margin:0 auto;
	padding:1%;
}

#textOutput {
margin-bottom: 2%;
}



input[type=range] {
	-webkit-appearance: none;}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 8px;
	animate: 0.2s;
	
border: solid 1px var(--color2-3);
background: var(--color1-2);
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000;
	height: 25px;
	width: 10px;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;

border: solid 1px var(--color-sh-1);
background: var(--color-sh-1);
}


img {
width: 25%;
height: 25%;
}

h1, p {
color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}
