@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


body { 

	color: var(--color2-1);
	text-align: center;
	background: var(--color1-1);
	font-family: 'Raleway', sans-serif;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 760px;
	margin: 1em auto;
	margin-top: 1%;
border: solid 1px var(--color2-3);
background: var(--color1-2);
background: radial-gradient(circle farthest-corner at center top, var(--color1-2) 0%, var(--color1-3) 80%);

-webkit-box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
-moz-box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
}

hr {
	border: none;
	color: var(--color2-3);
	background-color: var(--color2-3);
	height: 1px;
}

header, #content {
	margin-bottom: .5em;
}

header {
	padding: 0 1em;
}
#content {
	width: auto;
	padding: .5em 1em;
}

footer {
	clear: both;
	padding: 0 1em;
}

#footext {
	padding-left: 25%;
	padding-right: 25%;
}

#content h1, #content h2, #content h3 {
font-family: 'Press Start 2P', cursive;
font-size: 100%;
text-shadow: rgba(0, 0, 0, 0.4) 0 0 8px, rgba(0, 0, 0, 0.4)  0 0 5px;
}

#content h1{
text-shadow: 0 0 10px var(--color4-1), 0 0 15px var(--color4-1), 0 0 30px var(--color4-2) , 0 0 30px var(--color4-3), 0 0 30px var(--color4-2) , 0 0 40px var(--color4-3), 0 0 50px var(--color4-2) , 0 0 60px var(--color4-3), 0 0 70px var(--color4-2) , 0 0 80px var(--color4-3), 0 0 90px var(--color4-2) , 0 0 100px skyblue;
padding-bottom: 25px;
margin-top: 0;
font-size: 160%;
}


#content h2{
margin-top: 0;
text-align: left;
margin-left: 10%;

}

#content h3{
margin-top: 0;
text-align: right;
margin-right: 10%;
}


#content p{
text-align: justify;
}

#content p:hover{
text-shadow: rgba(255, 255, 255, 0.2) 0 0 8px, rgba(255, 255, 255, 0.2)  0 0 5px;
transition: 0.9s ease;
}


#content p:not(:hover) {
text-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, rgba(0, 0, 0, 0.4)  0 0 5px;
transition: 0.5s ease;
}

footer p{
font-size: 70%;
}

img {
width: 25%;
height: 25%;
opacity: 0.5;
}

footer h1,footer bb,footer p{
color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

section img{
opacity: 1;
border: 1px solid var(--color2-3);
}



img.right {
	float: right;
	margin: 0 0 20px 20px;
}

img.left {
	float: left;
	margin: 0 20px 20px 0;
}

img.wall {
width: 100%;
height: 35%;
}


footer h1{
font-size: 90%;
}

footer p{
font-size: 70%;
}


footer bb:hover{
text-shadow: 
0 0 10px var(--color4-1),
0 0 15px var(--color4-1),
0 0 30px var(--color4-2) ,
0 0 30px var(--color4-3);
transition: all 0.5s ease;
}

footer bb:not(:hover) {
text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.1);
transition: 1s ease;
}


::selection {background: var(--color4-2) ;color: var(--color1-1);}
::-moz-selection {background: var(--color4-2) ;color: var(--color1-1);}



img, #content h1, footer h1, #timer, .btn {

-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;}

/*-----------------------------------------------------------SOCIALICONS*/

ul {-webkit-padding-start: 0;}
.soc-icons li {display: inline-block;}
.soc-icons a, .soc-icons svg {display: block;height: 38px;width: 38px;}

.icon-1,.icon-2,.icon-3,.icon-4,.icon-5 {
fill: var(--color5-2);border: 1px solid rgba(0, 0, 0, 0.2);}

.icon-1:hover,.icon-2:hover,.icon-3:hover,.icon-4:hover,.icon-5:hover {
				fill								: var(--color1-1);
				background							: var(--color5-1);
				border								: none;
transform: scale(1.1);
-webkit-transform: scale(1.1);
-webkit-transition: background-color 0.3s, -webkit-transform 0.3s ease-out;
transition: background-color 0.3s, -webkit-transform 0.3s ease-out;
transition: background-color 0.3s, transform 0.3s ease-out;
transition: background-color 0.3s, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.icon-1:active,.icon-2:active,.icon-3:active,.icon-4:active,.icon-5:active {
background	:var(--color5-3)
}

.spoiler{ 
	color: var(--color5-1);
	background-color: var(--color5-1);
	text-shadow: none;
}

.spoiler:hover{
	color: white;
}

/*---------------||----||--------||-----------------------------------*/
/*---------------||\---||--------||-----------------------------------*/
/*---------------||\\--||--------||-----------------------------------*/
/*---------------||-\\-||--------||-----------------------------------*/
/*---------------||--\\||--||----||-----------------------------------*/
/*---------------||---\||--||||||||-----------------------------------*/
/*--------------------------------------------------------------------*/


#timer {
	font-size: 3em;
	font-weight: 100;
	color: white;
	text-shadow: 0 0 20px #48C8FF;

color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}
#timer div {
	display: inline-block;
	min-width: 90px;
}
#timer div span {
	color: #B1CDF1;
	display: block;
	font-size: .35em;
	font-weight: 400;
color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}



.btn {
	color: var(--clr02);
	background:rgba(0,0,0,0.1);

	padding: 0.6em;
	padding-left: 15%;
	padding-right: 15%;
	transition: all 0.3s;
	text-align: center;
	text-shadow: 1px 1px 0px var(--clr03);
	text-decoration: none;
	border: 1px solid transparent;
	border-color: rgba(0,0,0,0.4);
	margin-top: 15%;
color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
cursor: no-drop;
}

}

.btn:active{
background:rgba(0,0,0,0.6);
	padding-left: 15%;
	padding-right: 15%;
}

.confetti {
	position: absolute;
	top: -1rem;
	width: 1rem;
	height: 1rem;
	-webkit-animation: confettiRotation 1.5s infinite both ease-in;
	-moz-animation: confettiRotation 1.5s infinite both ease-in;
	animation: confettiRotation 1.5s infinite both ease-in;
}

.confetti:nth-child(1) {
	left: 50%;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
	background: #5bc0eb;
}

.confetti:nth-child(2) {
	left: 22%;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
	background: #fde74c;
}

.confetti:nth-child(3) {
	left: 13%;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
	background: #9bc53d;
}

.confetti:nth-child(4) {
	left: 54%;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
	background: #e55934;
}

.confetti:nth-child(5) {
	left: 29%;
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	animation-delay: 0.9s;
	background: #fa7921;
}

.confetti:nth-child(6) {
	left: 68%;
	-webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	animation-delay: 1.1s;
	background: #a85aea;
}

.confetti:nth-child(7) {
	left: 86%;
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	animation-delay: 1.3s;
	background: #ea5aab;
}

.confetti:nth-child(8) {
	left: 40%;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
	background: #4bfba2;
}

.confetti:nth-child(9) {
	left: 10%;
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
	background: #aafb4b;
}

.confetti:nth-child(10) {
	left: 90%;
	-webkit-animation-delay: 1.9s;
	-moz-animation-delay: 1.9s;
	animation-delay: 1.9s;
	background: #3c55c3;
}
.confetti:nth-child(11) {
	left: 60%;
	-webkit-animation-delay: 2.1s;
	-moz-animation-delay: 2.1s;
	animation-delay: 2.1s;
	background: #e43434;
}
.confetti:nth-child(12) {
	left: 26%;
	-webkit-animation-delay: 2.3s;
	-moz-animation-delay: 2.3s;
	animation-delay: 2.3s;
	background: #c47ac3;
}
.confetti:nth-child(13) {
	left: 2%;
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
	background: #7234e4;
}
.confetti:nth-child(14) {
	left: 64%;
	-webkit-animation-delay: 2.7s;
	-moz-animation-delay: 2.7s;
	animation-delay: 2.7s;
	background: #2081f8;
}
.confetti:nth-child(15) {
	left: 77%;
	-webkit-animation-delay: 2.9s;
	-moz-animation-delay: 2.9s;
	animation-delay: 2.9s;
	background: #e4a834;
}

@-webkit-keyframes confettiRotation {
	0% {
		-webkit-transform: translate3d(0, 0, 0), skew(30deg) rotateX(0) rotateY(0);
	}
	100% {
		-webkit-transform: translate3d(20px, 100vh, 0) skew(-30deg) rotateX(100deg) rotateY(380deg);
	}
}

@-moz-keyframes confettiRotation {
	0% {
		-moz-transform: translate3d(0, 0, 0), skew(30deg) rotateX(0) rotateY(0);
	}
	100% {
		-moz-transform: translate3d(20px, 100vh, 0) skew(-30deg) rotateX(100deg) rotateY(380deg);
	}
}

@keyframes confettiRotation {
	0% {
		transform: translate3d(0, 0, 0), skew(30deg) rotateX(0) rotateY(0);
	}
	100% {
		transform: translate3d(20px, 100vh, 0) skew(-30deg) rotateX(100deg) rotateY(380deg);
	}
}



/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: auto;
		float: none;
	}
	header, footer {
		padding: 1% 4%;
	}
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
}

