@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


body { 

	color: var(--color2-1);
/*
	text-align: center;
*/
	background: var(--color1-1);
	font-family: 'Raleway', sans-serif;
}

body { 
background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-630296.jpg); 
background-color: #c7b39b;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 760px;
	margin: 1em auto;
	margin-top: 7%;
border: solid 1px var(--color2-3);

-webkit-box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
-moz-box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
box-shadow: 2px 6px 300px -56px rgba(255,255,255,0.49);
}

hr {
	border: none;
	color: var(--color2-3);
	background-color: var(--color2-3);
	height: 1px;
}

header, #content {
	margin-bottom: .5em;
}

header {
	padding: 0 1em;
	text-align: center;
}
#content {
	width: auto;
	padding: .5em 1em;
}

footer {
	clear: both;
	padding: 0 1em;
	text-align: center;
}

#footext {
	padding-left: 25%;
	padding-right: 25%;
}

#content h1, #content h2, #content h3 {
font-family: 'Press Start 2P', cursive;
font-size: 100%;
text-shadow: rgba(0, 0, 0, 0.4) 0 0 8px, rgba(0, 0, 0, 0.4)  0 0 5px;
}

#content h1{
text-shadow: 0 0 10px var(--color4-1), 0 0 15px var(--color4-1), 0 0 30px var(--color4-2) , 0 0 30px var(--color4-3), 0 0 30px var(--color4-2) , 0 0 40px var(--color4-3), 0 0 50px var(--color4-2) , 0 0 60px var(--color4-3), 0 0 70px var(--color4-2) , 0 0 80px var(--color4-3), 0 0 90px var(--color4-2) , 0 0 100px skyblue;
padding-bottom: 25px;
margin-top: 0;
font-size: 160%;
text-align: center;
}


#content h2{
margin-top: 0;
text-align: left;
margin-left: 10%;

}

#content h3{
margin-top: 0;
text-align: right;
margin-right: 10%;
}


#content p{
text-align: justify;
}

#content p:hover{
text-shadow: rgba(255, 255, 255, 0.2) 0 0 8px, rgba(255, 255, 255, 0.2)  0 0 5px;
transition: 0.9s ease;
}


#content p:not(:hover) {
text-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, rgba(0, 0, 0, 0.4)  0 0 5px;
transition: 0.5s ease;
}

footer p{
font-size: 70%;
}

img {
width: 35%;
height: 35%;
opacity: 0.8;
}

footer h1,footer bb,footer p{
color: var(--color2-3);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

section img{
opacity: 1;
border: 1px solid var(--color2-3);
}



img.right {
	float: right;
	margin: 0 0 20px 20px;
}

img.left {
	float: left;
	margin: 0 20px 20px 0;
}

img.wall {
width: 100%;
height: 35%;
}


img.wallp {
width: 100%;
height: 25%;
border: none;
}


footer h1{
font-size: 90%;
}

footer p{
font-size: 70%;
}


footer bb:hover{
text-shadow: 
0 0 10px var(--color4-1),
0 0 15px var(--color4-1),
0 0 30px var(--color4-2) ,
0 0 30px var(--color4-3);
transition: all 0.5s ease;
}

footer bb:not(:hover) {
text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.1);
transition: 1s ease;
}


::selection {background: var(--color4-2) ;color: var(--color1-1);}
::-moz-selection {background: var(--color4-2) ;color: var(--color1-1);}



img, #content h1, footer h1 {

-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;}

/*-----------------------------------------------------------SOCIALICONS*/

ul {-webkit-padding-start: 0;}
.soc-icons li {display: inline-block;}
.soc-icons a, .soc-icons svg {display: block;height: 38px;width: 38px;}

.icon-1,.icon-2,.icon-3,.icon-4,.icon-5 {
fill: var(--color5-2);border: 1px solid rgba(0, 0, 0, 0.2);}

.icon-1:hover,.icon-2:hover,.icon-3:hover,.icon-4:hover,.icon-5:hover {
				fill								: var(--color1-1);
				background							: var(--color5-1);
				border								: none;
transform: scale(1.1);
-webkit-transform: scale(1.1);
-webkit-transition: background-color 0.3s, -webkit-transform 0.3s ease-out;
transition: background-color 0.3s, -webkit-transform 0.3s ease-out;
transition: background-color 0.3s, transform 0.3s ease-out;
transition: background-color 0.3s, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.icon-1:active,.icon-2:active,.icon-3:active,.icon-4:active,.icon-5:active {
background	:var(--color5-3)
}


.spoiler{ 
	color: var(--color5-1);
	background-color: var(--color5-1);
	text-shadow: none;
}

.spoiler:hover{
	color: white;
}






.heheimg {
	border: solid 1px var(--color2-3);
	position: relative;
	width: 300px;
	height: 300px;
	margin: 1% 0 1% 1%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	float: right;
}

.canvas {
	position: absolute;
	top: 0;
}

.form {
	padding: 20px;
}


input {
	-webkit-appearance: textfield;
	background-color: #ffffff17;
	-webkit-rtl-ordering: logical;
	cursor: text;
	padding: 3%;
	margin-top: 5%;
	border: solid 1px var(--color2-3);
}





/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */

@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: auto;
		float: none;
	}
	header, footer {
		padding: 1% 4%;
	}
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
}

